* {
  margin: 0;
}

#root {
  justify-content: center;
  padding-top: 50px;
  background-color: #f0fdf4;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
}

.timer {
  align-items: center;
  gap: 20px;
}

.todoList {
  flex-direction: column;
  gap: 20px;
}

.todo.current {
  background-color: yellowgreen;
  color: black;
  transition: all 0.8s;
}

.done {
  text-decoration: line-through;
}
