* {
  margin: 0;
}

button {
  height: 30px;
  border: 0px solid black;
  border-radius: 10px;
  /* transition: all 0.2s; */
}

button:hover {
  background-color: rgb(102, 16, 16);
  color: white;
}

#root {
  justify-content: center;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.timer {
  align-items: center;
  gap: 20px;
}

.todoList {
  flex-direction: column;
  gap: 20px;
}

.todo.current {
  background-color: yellowgreen;
  color: black;
  transition: all 0.8s;
}

.done {
  text-decoration: line-through;
}
